body {
    padding: 0%;
    margin: 0%;
}

.logo {
    position: absolute;
    align-items: center;
}
.header {
    padding: 5px 15px;
    background-color: cadetblue;
    text-align: center;
    }
    
.btn3 {
    text-align: center;

}
.btn3 button {
    text-align: center;
    padding: 10px;
    background-color: green;

}

.main-text3 {
    padding: 0px 15px;
    
}
    
